.header {
  width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    
}
.nav {
  max-width: 1100px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav input[type=text]{
  float: right;
  padding: 6px; 
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.logo2 {
  
    height: 70px; 
    width: auto;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li {
  font-size: 14px;
  cursor: pointer;
}


.header-cnt{
    width: 100%;
    overflow: hidden;

}
.left,
.right{
    width: 50%;
    height: 300px;
    margin: 0;
    position: relative;
    float: left;
    background-repeat: no-repeat;      
    background-size: cover;            
    background-position: center;       
}

.left{
    background-image: url("./images2/car2.png");
}

.right{
    background-image: url("./images2/car3.png");
}

.title-cnt{
    position: absolute;
    bottom: 5%;
    left: 5%;
    
}
.title-cnt>p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 1px;
}
.parents{
  width: 100%;

  overflow: hidden;
}

.children{
  float: left;
   width: 32%;

}

.children>img{
    display: block;
    margin: 0 auto;
    width: 400px;;
}

.title>span:first-of-type{
    background-color:darkcyan;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.jquery{
    background-color: orange !important;
}

.date{
    background-color: cyan;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.jquery
.children>p{
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 1px;
    width: 90%;
}


.parent>.children>span:last-of-type{
    color:aqua;
}

